
input[type="text"], input[type="number"] {
    margin-right: 10px;
} 

.suppr, .edit {
    margin-right: 10px;
    margin-bottom: 5px;
}

.example-input .ant-input {
    width: 100px;
    margin: 0 8px 8px 0;
  }

/*******************************/
/********* Custom Ant **********/
/*******************************/

  .ant-badge {
    position: relative;
    bottom: 39px;
    left: 65px;
    display: inline-flex;
  }