
input[type="text"], input[type="number"] {
    margin-right: 10px;
} 

.suppr, .edit {
    margin-right: 10px;
    margin-bottom: 5px;
}

.example-input .ant-input {
    width: 200px;
    margin: 0 8px 8px 0;
  }